<header id="topnav">
  <div class="topbar-main">
    <div class="container-fluid">
      <!-- Logo container-->
      <div class="logo">
        <a href="index.html">
          <img src="/assets/images/logo.png" alt="" height="50" class="logo-large" />
        </a>
      </div>
      <!-- End Logo container-->

      <div class="menu-extras topbar-custom">
        <ul class="list-unstyled topbar-right-menu float-right mb-0">
          <li class="menu-item">
            <!-- Mobile menu toggle-->
            <a class="btn btn-bars" href="javascript:void(0)" (click)="openSideMenu()">
              <i class="fa fa-bars"></i>
            </a>
            <!-- End mobile menu toggle-->
          </li>
          <li class="menu-item">
            <form class="app-search">
              <input type="text" placeholder="Search..." class="form-control" />
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </li>
          <li class="menu-item">
            <button class="btn btn-rounded btn-subscribe">
              {{ "subscriptions.digital.subscribe" | translate }}
            </button>
          </li>
        </ul>
      </div>
      <!-- end menu-extras -->

      <div class="clearfix"></div>
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar-main -->

  <div class="navbar-custom">
    <div class="container-fluid">
      <div id="" class="">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="">
            <a href="index.html">
              <span class="h5"> {{ "subscriptions.title" | translate }} </span>
            </a>
          </li>
        </ul>
        <!-- End navigation menu -->
      </div>
      <!-- end #navigation -->
    </div>
    <!-- end container -->
  </div>
  <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->