<app-header></app-header>

<div class="wrapper">
  <div class="container-fluid">
    <div class="row" style="margin-top: 5em;">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>