<div class="card-box">
  <h3 class="mt-0">{{ "subscriptions.digital.title" | translate }}</h3>
  <hr />

  <div class="row">
    <div class="col-8 mx-auto">
      <div class="card-columns">
        <app-subscription-item *ngFor="let subs of subscriptions" [item]="subs" class="card m-b-20 subscription nicescroll"></app-subscription-item>
      </div>
    </div>
  </div>
</div>