<div class="card-header">
  <h4 class="card-title mb-0">{{ item.title }}</h4>
  <div class="mt-0">
    <span class="text-muted">{{ item.description }}</span>
  </div>
</div>
<div class="card-body">
  <h6 class="fees mb-0">
    <span>{{ item.fee + item.currency }}</span>
    <span>{{ item.per }}</span>
  </h6>
  <p class="card-text font-15">{{ item.message }}<br /></p>
  <button class="btn btn-fluid btn-rounded subscription-button mb-1 mt-1">
    {{ "subscriptions.digital.subscribe" | translate }}
  </button>

  <ul class="features nicescroll">
    <li *ngFor="let f of features()">
      <i class="text-success fa fa-check-circle mr-1"></i>
      <span>{{ f }}</span>
    </li>
  </ul>
</div>
<div class="card-footer">
  <a class="text-muted" href="javascript:void(0)" (click)="toggleFeaturesSize()">
    <span>{{ (mode === 'min' ? "subscriptions.seemore" : "subscriptions.seeless") | translate }}</span>
  </a>
</div>