<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 text-center">
        <p class="text-white mb-0 translate">
          {{ "footer.download" | translate }}
        </p>
        <div class="row justify-content-center align-items-center">
          <div class="col-4">
            <img src="/assets/images/stores/apple.store.png" alt="availableOnAppleStore" class="img img-responsive" height="50" />
          </div>
          <div class="col-4">
            <img src="/assets/images/stores/play.google.png" alt="getOnGooglePlay" class="img img-responsive" height="50" />
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <ul class="footer-list-group">
          <li class="footer-list-item">
            <div class="footer-list-item-header" id="about-us-header">
              <i class="fa fa-chevron-down icon"></i>
              <span class="translate" data-toggle="collapse" data-target="#about-us" aria-controls="about-us">{{ "footer.aboutUs" | translate }}</span
              >
            </div>

            <div
              id="about-us"
              class="collapse"
              aria-labelledby="about-us-header"
            >
              &nbsp;
            </div>
          </li>
          <li class="footer-list-item">
            <div class="footer-list-item-header" id="policies-header">
              <i class="fa fa-chevron-down icon"></i>
              <span
                class="translate"
                data-toggle="collapse"
                data-target="#policies"
                aria-controls="policies"
                >{{ "footer.policies" | translate }}</span
              >
            </div>

            <div
              id="policies"
              class="collapse"
              aria-labelledby="policies-header"
            >
              &nbsp;
            </div>
          </li>
          <li class="footer-list-item">
            <div class="footer-list-item-header" id="support-header">
              <span class="translate">{{ "footer.support" | translate }}</span>
            </div>

            <div id="support" class="collapse" aria-labelledby="support-header">
              &nbsp;
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="row">
          <div class="col-10">
            <h3 class="text-left translate">
              {{ "footer.contactUs" | translate }}
            </h3>
            <div class="d-flex justify-content-right align-items-center">
              <a href="javascript:void(0)" class="btn btn-contact-us p-1">
                <i class="fa fa-facebook fa-2x"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-contact-us p-1">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-contact-us p-1">
                <i class="fa fa-instagram fa-2x"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-contact-us p-1">
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
            </div>
          </div>

          <div class="col-2">
            <div class="logo">
              <a href="index.html">
                <img src="/assets/images/logo.png" alt="" height="50" class="logo-large" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-12 text-center">
        <span class="translate">{{ "footer.copyrights" | translate }}</span> 2020 &copy;
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->